$background: #f9fafc;
$background2: #e3e4e6;
$primary: #313131;
$highlight1: #f7d0cb;
$highlight2: #f6d9d5;

body {
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    background: $background;
    color: $primary;
  }

  > * {
    margin: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 20px;
  min-height: 100vh;
}

.logicalBlock {
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 40px;

  @media (max-width: 768px) {
    padding: 4px 7px;
  }

  border: 1px solid $primary;
  margin: 10px 0;
  box-shadow: 9px 8px 5px 0 $background2;
  overflow: hidden;
  font-size: 18px;

  .logicalBlock {
    box-shadow: unset;
    border: unset;
  }
}

form {
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  input:not([type='submit']) {
    margin-left: 30px;
    min-width: 300px;
  }

  .submitHolder {
    text-align: center;
  }

  input[type='submit'] {
    font-size: 20px;
  }
}

#task3Result {
  text-align: right;
}
